<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="body_container center_page">
        <div class="section_container ">
            <div class="heading1_container loading_page">
                <h1>currentWeather.</h1>

                <div class="form_div">
                    <form class="form_item" action="/weatherData" method="POST">
                        <div class="search_bar">
                            <input type="text" name="cityInput" placeholder="Enter city name" required>
                            <button type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>